@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));

  scrollbar-color: #848484 #e8e8e8 !important;
  scrollbar-width: thin !important;
}
 
body::-webkit-scrollbar {
  width: 7px !important;
}

body::-webkit-scrollbar-track {
  background: #e8e8e8;
}

body::-webkit-scrollbar-thumb {
  background-color: #848484;
  border-radius: 20px;
} 

.background_main {
  width: 100vw; 
  min-height: 100vh; 
  position: fixed;
  z-index: -1; 
  display: flex; 
  justify-content: center; 
  padding: 120px 24px 160px; 
  pointer-events: none;
}

.background_main::before{
  background: radial-gradient(circle,rgba(2,0,36,0) 0,#fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.background_main::after{
    content: "";
    background-image: url('/images/grid.svg');
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .4;
    filter: invert(1);
}

.background_content{
  height: fit-content;
    z-index: 3;
    max-width: 640px;
    background-image: radial-gradient(at 27% 37%,#3a8bfd 0,transparent 0),radial-gradient(at 97% 21%,#72fe7d 0,transparent 50%),radial-gradient(at 52% 99%,#fd3a4e 0,transparent 50%),radial-gradient(at 10% 29%,#855afc 0,transparent 50%),radial-gradient(at 97% 96%,#e4c795 0,transparent 50%),radial-gradient(at 33% 50%,#8ca8e8 0,transparent 50%),radial-gradient(at 79% 53%,#eea5ba 0,transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: .15;
}